@model ModuleClient.Models.Client

@{
    Layout = null;
}

<!--
    Auteur: S.RABONARIJAONA
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/lib/bootstrap-4.0.0/bootstrap.min.css")
    @Styles.Render("~/Content/lib/fontawesome-5.13.0/fontawesome.min.css")
    @Styles.Render("~/Content/lib/fontawesome-5.13.0/solid.min.css")
    @Styles.Render("~/Content/Client/custom.css")
</head>

<body>

    <nav class="navbar navbar-light bg-light justify-content-between">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Client</a></li>
                <li class="breadcrumb-item active" aria-current="page">Ajout client</li>
            </ol>
        </nav>
        <a class="navbar-brand">AJOUTER UN NOUVEAU CLIENT</a>
    </nav>

    <main class="container-fluid">
        <div class="row">
            <nav class="col-3 position-static">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active disabled" role="button" aria-disabled="true">
                        Informations générales
                    </a>
                    <a href="#" class="list-group-item list-group-item-action disabled" role="button" aria-disabled="true">Interlocuteur</a>
                    <a href="#" class="list-group-item list-group-item-action disabled" role="button" aria-disabled="true">Commentaire</a>

                </div>
            </nav>

            <section class="col-9" id="section-modif-client">
                @Html.Partial("_PartialClientForm")
            </section>
        </div>
    </main>


    @Scripts.Render("~/Scripts/lib/fontawesome-5.13.0/fontawesome.min.js")
    @Scripts.Render("~/Scripts/lib/fontawesome-5.13.0/solid.min.js")
</body>

</html>
